.user-cards {
    width: 330px;
    height: 230px;
    background-color: azure;
    margin: 7px;
    border-radius: 10px;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    transition: 0.2s ease;
    padding: 12px;
}
.user-cards:hover {
    width: 340px;
    height: 230px;
    top: -2;
}
